.App{
display: flex;
flex-direction: column;
align-items: center;
}
img {
  width: 300px;
}

.randomWord{
  display: flex;
  list-style: none;
}
.letterButtons{ 
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}
/* .letterButtons li{
  margin-right:10px;
} */